<form class="mt-4 card p-4" [formGroup]="form">
  <div class="form-group w-100 me-2">
    <label for="weight">Weight:</label>
    <input type="number" class="form-control" step="0.01" id="weight"
      name="weight"
      formControlName="weight" [class.is-invalid]="form.get('weight').invalid">
    <small id="goalTip" class="form-text text-muted">Required & above 0</small>
  </div>
  <div class="form-group w-100 me-2">
    <label for="comment">Comment:</label>
    <textarea class="form-control" id="comment" placeholder="Had trash food"
      formControlName="comment"></textarea>
  </div>
  <button type="button" class="btn btn-primary mt-2" (click)="addWeight()">Submit</button>
</form>