<main class="container">
  <h1 class="my-3">Dialog Assesment (FE)</h1>
  <h2 class="my-3">Weighty ;)</h2>

  <div class="row">
    <div class="col-sm-8">
      <div>My progress</div>
      <div class="progress my-3" role="progressbar" aria-label="Your progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width:0%"></div>
      </div>
    </div>

    <form class="col-sm-4" autocomplete="off">
      <fieldset>
        <div class="mb-3">
          <label class="form-label" for="goalId">My goal (kg)</label>
          <input class="form-control" type="number" step=".01" min="1" max="" id="goalId" name="goal" placeholder="I will reach it!">
        </div>
      </fieldset>
    </form>

    <form class="col-sm-4" autocomplete="off">
      <fieldset>
        <div class="mb-3">
          <label class="form-label" for="todayId">Today's numbers (kg)</label>
          <input class="form-control" type="number" step=".01" min="1" max="" id="todayId" name="today" placeholder="This is me today :)">
        </div>
        <div class="mb-3">
          <label class="form-label" for="descId">Note to future me</label>
          <textarea class="form-control" id="descId" name="desc" placeholder="Lorem ipsum..."></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
      </fieldset>
    </form>
  </div>
</main>
