.add-button {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 6px;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}