<div class="navbar navbar-expand-leg bg-body-tertiary d-flex justify-content-center">
    <div class="container-fluid justify-content-around bg-dark p-3">
        <a class="navbar-brand text-white" routerLink="/" routerLinkActive="active">Home</a> 
        <a class="navbar-brand text-white" routerLink="/gewicht" routerLinkActive="active">Gewicht</a> 
        <a class="navbar-brand text-white" routerLink="/overzicht" routerLinkActive="active">Overzicht</a>  
    </div>
    <div class="p-4">
     <router-outlet></router-outlet>   
    </div>
</div>  

