@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "./app/goal-setting/goal-setting.component.scss";

body {
  font-family: "Roboto", sans-serif;
  padding: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
}
